body {
  font-family: 'Lora', sans-serif;
  color: #404a28;
  padding-top: 76px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 6em;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

p {
  line-height: 1.25em;
  font-size: 1.25em;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  background-color: rgba(255,255,255,0.129);
  border: none;
  color: #404a28;
  font-family: 'Montserrat', sans-serif;
  height: 3.25rem;
  line-height: 3.25rem;
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0.5em 0;
  width: 100%;
}

li {
  font-family: 'Montserrat', sans-serif;
}

::placeholder {
  color: #404a2888;
  opacity: 1;
}

form button {
 color: #404a28;
 background-color: #9fd8cb;
 border: 1px solid #404a28;
 border-radius: 10px;
 font-family: 'Montserrat', sans-serif;
 padding: 0.5em;
 margin: 0.5em 0;
 align-self: flex-end;
}

.msg-alert{
  color: #38023B;
}

a {
  color: rgba(0,0,0,.5);
}

a:hover {
  color: #404a28;
}

.p-small {
  font-size: 1em;
}

.background-white {
  background-color: #FEFEFA;
  color: #404a28;
}

.background-green {
  background-color: #9fd8cb;
  color: #FEFEFA;
}

.text-purple {
  color: #38023B;
}

.box-shadow {
  box-shadow: 10px 10px 20px 5px rgba(0,0,0,.12);
}

.hidden {
  visibility: hidden;
}

.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link  {
  color: #404a28;
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-nav .nav-link:hover  {
  color: rgb(0,0,0,.5)
}

.short-break {
  width: 5%;
  margin-left: auto;
  margin-right: auto;
  height: 5px;
}

@media (max-width: 650px) {
  h1 {
    font-size:  3em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.5em;
    text-align: center;
  }

}
