
button{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 3rem;
  height: 1.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
  outline: none;


}

button:focus {
    outline: none !important;
  }

  span {
    border-radius: 10px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    position: relative;
    -webkit-transform-origin: 1rem;
        -ms-transform-origin: 1rem;
            transform-origin: 1rem;

    width: 3rem;
    height: 4px;
  }

.bun{
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0)
}

.topBun {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg)
}

.bottomBun {
-webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
        transform: rotate(-45deg)
}