.coursesBackground {
  background-image: url('../assets/courses-background.png');
  background-position: top;
  background-size: cover;
  color: #404a28;
}

.coursesDivider {
  background-image: url('../assets/tuition-divider.png');
  background-position: top;
  background-size: cover;
  color: #404a28;
}

.buyButton {
  color: #FEFEFA;
  background-color: #38023b;
  border: 1px solid #38023b;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
}
