.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
}

.fixed {
    position: fixed !important;
}

.globe {
    left: -20%;
    height: 400px
}

.sparkle {
    height: 35px
}

.pinkCircle {
    top: -100%;
    right: -30%
}

.headshot {
    z-index: 10;
}
