.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
}

.fixed {
    position: fixed !important;
}

.globe {
    left: -20%;
    height: 400px
}

.sparkle {
    height: 35px;
    transform: rotate(25deg)
}
.pinkCircle {
    top: -30%;
    left: 40%
}

.headshot {
    z-index: 10;
}

.curriculum {
    position: sticky;
    top: 56px;
}
