// Override default variables before the import
$body-bg:#E1D5FA;
$body-color: #031799;
$font-family-sans-serif: 'Montserrat';
$theme-colors: (
"yellow": #FFF9E1,
"green": #0B807F,
"pink": #FF92D3,
"red": #fA544E,
"blue": #031799,
"purple": #E1D5FA,
"teal": #CFE0FC,
"cyan": #8924F1,
);

$bg-variant: (
"bg-yellow": #FFF9E1,
"bg-green": #0B807F,
"bg-pink": #FF92D3,
"bg-red": #fA544E,
"bg-blue": #031799,
"bg-purple": #E1D5FA,
"bg-teal": #CFE0FC,
"bg-cyan": #8924F1,
);

@font-face {
    font-family: SyneBold;
    src: url("../assets/fonts/Syne-Bold.otf") format("opentype");
}

h1 {
    font-family: SyneBold;
}

@import '~bootstrap/scss/bootstrap';