// Override default variables before the import
$body-bg:#E1D5FA;
$body-color: #031799;
$font-family-sans-serif: 'Montserrat';
$theme-colors: (
"primary": #031799,
"yellow": #FFF9E1,
"green": #0B807F,
"pink": #FF92D3,
"red": #fA544E,
"blue": #031799,
"purple": #E1D5FA,
"teal": #CFE0FC,
"cyan": #8294F1,
);

$bg-variant: (
"bg-yellow": #FFF9E1,
"bg-green": #0B807F,
"bg-pink": #FF92D3,
"bg-red": #fA544E,
"bg-blue": #031799,
"bg-purple": #E1D5FA,
"bg-teal": #CFE0FC,
"bg-cyan": #8294F1,
);


$h1-font-size: 50px;
$h2-font-size: 18px;
$h3-font-size: 26px;
$font-size-base: 1.125rem;

$border-radius: 23px;
$btn-border-radius-lg:23px;
$btn-border-radius-sm:23px;


@font-face {
    font-family: SyneBold;
    src: url("../assets/fonts/Syne-Bold.otf") format("opentype");
}
@font-face {
    font-family: GalanoGrotesque;
    src: url("../assets/fonts/Galano-Grotesque-Medium.otf") format("opentype");
}
@font-face {
    font-family: ClearFace;
    src: url("../assets/fonts/Clearface-Italic.otf") format("opentype");
}

h1, h3 {
    font-family: SyneBold;
}

h2 {
    font-family: GalanoGrotesque;
}

span {
    font-family: ClearFace
}

.btn {
    font-family: roc-grotesk-wide,sans-serif;
}

.btn-purple{
    color: #fA544E !important;
}

.btn-red {
    color: #E1D5FA !important;
}

// p {
//     font-size: 18px;
// }

@import '~bootstrap/scss/bootstrap';