.footer{
    height: 75px
}

.link {
    font-family: SyneBold;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
    color: #031799;
}

.menu {
    background-image: linear-gradient(#CFE0FC, #E1D5FA);
}

.scrolled {
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 5000;
    background-color: #E1D5FA
}