@keyframes bouncingGlobe {
    0% {bottom: -30%}
    50% {bottom: -25%}
    100% {bottom: -30%}
  }

.globe{
    bottom:-30%;
    left:80%;
    animation: bouncingGlobe 7s;
    animation-iteration-count: infinite;
    z-index: 10
}

@keyframes bouncingPinkGlobe {
    0% {bottom: -30%; transform: scale(0.9)}
    50% {bottom: -25%; transform: scale(1.2)}
    100% {bottom: -30%; transform: scale(0.9)}
}

.pinkGlobe{
    bottom:-30%;
    left:80%;
    animation: bouncingPinkGlobe 7s;
    animation-iteration-count: infinite;
}